<app-navbar></app-navbar>
<section class="about-us">
  <div class="container bg-body-secondary shadow rounded-4 p-5 text-center" style="max-width: 800px;">
    <h2>Sobre Nosotros</h2>
    <p>Somos una pequeña peluquería que comenzó desde cero, y todo lo que hemos logrado es gracias a nuestros increíbles
      clientes. Con el paso de los años, hemos crecido gracias a su confianza y apoyo. Nos enorgullece ofrecer un
      servicio personalizado y de calidad a cada uno de nuestros clientes, y nos esforzamos cada día por seguir
      mejorando.</p>
    <p>¡Gracias por ser parte de nuestra historia y por ayudarnos a seguir creciendo!</p>
  </div>
</section>

<!-- Carrusel de imágenes sobre la peluquería -->
<p-carousel 
[value]="images" 
[numVisible]="3" 
[numScroll]="3" 
[circular]="true" 
[responsiveOptions]="responsiveOptions" >
<ng-template let-image pTemplate="item">
  <div class="border-1 surface-border border-round m-2 p-3">
    <div class="mb-3">
      <div class="relative mx-auto">
        <!-- Mostrar solo las 2 imágenes -->
        <img 
          [src]="image.url" 
          alt="Imagen de la peluquería"
          class="img-fluid rounded-4" width="512" height="512"/>
      </div>
    </div>
  </div>
</ng-template>
</p-carousel>