.login-container {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-text a {
    color: #567a9f;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signup-text a:hover {
    color: #3498db;
    text-decoration: underline;
}

.error-message {
    color: #e74c3c;
    margin-bottom: 15px;
    font-size: 14px;
}