header.navbar {
  background-color: #1a1a1a;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

:root {
  --bs-emphasis-color-rgb: 76, 175, 80; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 22px;
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilos del menú de navegación */
.navigation .nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease;
  cursor: pointer; /* Cambia el cursor al "dedito" */
}

/* Estados del enlace */
.nav-link:hover {
  color: #d4af37;
}

.nav-link:focus,
.nav-link:active,
.nav-link:focus-visible {
  color: #d4af37; /* Mantén el mismo color que en hover */
  outline: none; /* Elimina el borde por defecto en algunos navegadores */
}

.nav-link:visited {
  color: #f1f1f1; /* Mantén el color original para enlaces visitados */
}

.logout {
  color: #f44336;
  cursor: pointer; /* Cambia el cursor al "dedito" */
}

.logout:hover {
  background-color: #d32f2f;
  color: #ffffff;
}

/* Estilos para el menú hamburguesa en pantallas pequeñas */
.hamburger {
  display: none;
  font-size: 30px;
  color: #f1f1f1;
  cursor: pointer;
}

.close-menu {
  display: none;
  font-size: 30px;
  color: #f1f1f1;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  /* Ocultar el menú por defecto en pantallas pequeñas */
  .navigation .nav-list {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 60px;
  }

  /* Mostrar el icono de hamburguesa solo cuando el menú esté cerrado */
  .hamburger {
    display: block;
  }

  /* Mostrar la "X" cuando el menú está abierto */
  .close-menu {
    display: block;
  }

  /* Estilo para el menú cuando es visible */
  .navigation .nav-list.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
    padding: 20px;
    z-index: 11;
  }

  /* Aumentar el tamaño del texto */
  .nav-link {
    font-size: 18px;
  }
}