<app-navbar></app-navbar>
<div class="container my-5 py-5">
	<div class="d-flex flex-column gap-4 bg-body-secondary p-4 rounded" *ngIf="userRole === 'client'">
		<h2>Crear Reserva</h2>
		<form (ngSubmit)="createReservation()" class="d-flex flex-column gap-4">
			<div class="row row-cols-1 row-cols-sm-2 gap-2 gap-sm-0">
				<div class="col">
					<div class="d-flex flex-column gap-2">
						<label for="service">Servicio</label>
						<p-autocomplete [(ngModel)]="selectedService" [suggestions]="services" name="selectedService" field="name" placeholder="Buscar Servicio" (completeMethod)="search()" severity="warn" [dropdown]="true"></p-autocomplete>
					</div>
					<div class="d-flex flex-column gap-2">
						<label for="reservationDate">Fecha y hora de Reserva</label>
						<custom-datepicker inputId="calendar-24h" [(ngModel)]="reservationDate" [disabledHours]="[00, 01, 02, 03, 04, 05, 06, 07, 08, 21, 22, 23]" [disabledDays]="[0, 6]" dateFormat="dd/mm/yy" [showTime]="true" [iconDisplay]="'input'" [showIcon]="true"></custom-datepicker>
					</div>
				</div>
				<div class="col">
					<div class="d-flex flex-column align-items-end gap-2">
						<h4 for="reservation_price">Precio del servicio</h4>
						<h3>{{ selectedService?.price || 0 }}€</h3>
					</div>
				</div>
			</div>

			<button type="submit" pButton label="Reservar" severity="warn" [disabled]="loading"></button>
		</form>
		<div class="error-message" *ngIf="errorMessage">
			{{ errorMessage }}
		</div>
	</div>
	<div>
		<h2>Reservas</h2>
		<div class="mb-4">
			<p-button type="button" icon="pi pi-chevron-left" (click)="prev()" severity="warn" [disabled]="isFirstPage()" text />
			<p-button type="button" icon="pi pi-refresh" (click)="reset()" severity="warn" text />
			<p-button type="button" icon="pi pi-chevron-right" (click)="next()" severity="warn" [disabled]="isLastPage()" text />
		</div>
		<p-toast />
		<p-table #dt [value]="reservations" dataKey="id" editMode="row" [paginator]="true" [rows]="5" [first]="first" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="pageChange($event)" [rowsPerPageOptions]="[10, 25, 50]">
			<ng-template #header>
				<tr>
					<th pSortableColumn="services.name">Servicio <p-sortIcon field="services.name" /></th>
					<th pSortableColumn="services.category">Categoría <p-sortIcon field="services.category" /></th>
					<th pSortableColumn="reservation_date">Fecha de Reserva <p-sortIcon field="reservation_date" /></th>
					<th pSortableColumn="profiles.email">Correo Electrónico <p-sortIcon field="profiles.email" /></th>
					<th pSortableColumn="status">Estado <p-sortIcon field="status" /></th>
					<th>Acciones</th>
				</tr>
			</ng-template>
			<ng-template #body let-reservation let-editing="editing" let-ri="rowIndex">
				<tr [pEditableRow]="reservation">
					<td>
						<p-cellEditor>
							<ng-template #input>
								<input pInputText type="text" [(ngModel)]="reservation.services.name" required />
							</ng-template>
							<ng-template #output>
								{{ reservation.services.name }}
							</ng-template>
						</p-cellEditor>
					</td>
					<td>
						<p-cellEditor>
							<ng-template #input>
								<input pInputText type="text" [(ngModel)]="reservation.services.category" required />
							</ng-template>
							<ng-template #output>
								{{ reservation.services.category }}
							</ng-template>
						</p-cellEditor>
					</td>
					<td>
						<p-cellEditor>
							<ng-template #input>
								<custom-datepicker inputId="calendar-24h" [(ngModel)]="reservation.reservation_date" [disabledHours]="[00, 01, 02, 03, 04, 05, 06, 07, 08, 21, 22, 23]" [disabledDays]="[0, 6]" dateFormat="dd/mm/yy" [showTime]="true" [iconDisplay]="'input'" [showIcon]="true"></custom-datepicker>
							</ng-template>
							<ng-template #output>
								{{ reservation.reservation_date | formatDate }}
							</ng-template>
						</p-cellEditor>
					</td>
					<td>
						<p-cellEditor>
							<ng-template #input>
								<input pInputText type="text" [(ngModel)]="reservation.profiles.email" required />
							</ng-template>
							<ng-template #output>
								{{ reservation.profiles.email }}
							</ng-template>
						</p-cellEditor>
					</td>
					<td>
						<p-cellEditor>
							<ng-template #input>
								<p-select [options]="statuses" appendTo="body" [(ngModel)]="reservation.status" [style]="{ width: '100%' }" />
							</ng-template>
							<ng-template #output>
								<p-tag [value]="reservation.status" [severity]="getSeverity(reservation.status)" />
							</ng-template>
						</p-cellEditor>
					</td>
					<td>
						<div class="flex items-center justify-center gap-2">
							<button *ngIf="!editing && userRole === 'admin'" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(reservation)" text rounded severity="secondary"></button>
							<button *ngIf="editing && userRole === 'admin'" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(reservation)" text rounded severity="secondary"></button>
							<button *ngIf="editing && userRole === 'admin'" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(reservation, ri)" text rounded severity="secondary"></button>
							<button icon="pi pi-trash" severity="danger" pButton pRipple type="button" rounded [outlined]="true" (click)="deleteRow(reservation)"></button>
						</div>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
